.ttl-hi {
	font-size: 30px;
    margin: 0 auto;
    width: 80%;
    margin-top: 10%;
}
.col-md-6 {
	width: 50%;
}
@media(max-width: 414px){
	.hidden-xs {
		display: none;
	}
}
.label-info {
    background-color: #5bc0de;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    margin: 2px;
}
.text-center {
    text-align: center;
}